@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lobster&family=Permanent+Marker&family=Pixelify+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Unica+One&family=Young+Serif&display=swap');

:root {
    --spacing: 20px;
    --color: #262626;
    --basetext: 18pt;
    --baseline: 24pt;

}

@media (min-width: 768px) {
    :root {
        --spacing: 80px;
        --color: #262626;
        --basetext: 20pt;
        --baseline: 33pt;
    }
    }

body {
    padding: var(--spacing);
    font-size:var(--basetext);
    line-height: var(--baseline);
    color: var(--color);
    font-family: 'Plus Jakarta Sans', sans-serif;
}