@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lobster&family=Permanent+Marker&family=Pixelify+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600&family=Unica+One&family=Young+Serif&display=swap');

:root {
    --spacing: 20px;
    --color: #262626;
    --basetext: 18pt;
    --baseline: 28pt;
    --max-width: 100%;

}

@media (min-width: 768px) {
    :root {
        --spacing: 80px;
        --color: #262626;
        --basetext: 20pt;
        --baseline: 33pt;
        --max-width: 60ch;
    }
    }

body {
    padding: var(--spacing);
    font-size:var(--basetext);
    line-height: var(--baseline);
    color: var(--color);
    font-family: 'Plus Jakarta Sans', sans-serif;

}

p{
    margin-bottom: var(--baseline);
    max-width: var(--max-width);
}

h2{
    margin-bottom: var(--baseline);
    margin-top: var(--baseline);
    font-weight: 800;
}

blockquote{
    margin-bottom: var(--baseline);
    margin-left: var(--spacing);
    max-width: var(--max-width);
    font-style: italic;
    color: #939393;

}

h1{
    font-family: 'Lora', serif;
    font-size: calc(6* var(--basetext));
    margin-bottom: calc(2*var(--baseline));
    margin-top: calc(10*var(--baseline));
    line-height: calc(3.5* var(--baseline));
}

h2:Nth-of-type(4){
    font-family: 'young serif', serif;
    font-size: calc(2*var(--basetext));
}

h2:Nth-of-type(5){
    font-family: 'permanent marker', sans-serif;
    font-size: calc(2*var(--basetext));
}

h2:Nth-of-type(6){
    font-family: 'Pixelify Sans', sans-serif;
    font-size: calc(2*var(--basetext));
}

h2:Nth-of-type(7){
    font-family: 'Lobster', serif;
    font-size: calc(2*var(--basetext));
}

