@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lobster&family=Permanent+Marker&family=Pixelify+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600&family=Unica+One&family=UnifrakturCook:wght@700&family=Young+Serif&display=swap');

/*===================== Setting up Variables =====================*/

:root {
    --spacing: 20px;
    --color: #262626;
    --basetext: 14pt;
    --baseline: 24pt;
    --max-width: 100%;

}

/*===================== Setting up 4 fonts =====================*/

.font-1 {
    font-family: 'Young Serif', serif;    
}

.font-2 {
    font-family: 'UnifrakturCook', sans-serif;   
}

.font-3 {
    font-family: 'Pixelify Sans', sans-serif;    
}

.font-4 {
    font-family: 'Lobster', sans-serif;
}

/*===================== General Mobile Style =====================*/

body {
    font-size:var(--basetext);
    line-height: var(--baseline);
    color: var(--color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* max-width: 1000px;
    margin: auto; */
}


main {
    padding: var(--spacing);  
}

p{
    margin-bottom: var(--baseline);
    max-width: var(--max-width);
}

h1{
    font-family: 'Lora', serif;
    font-size: calc(2.5* var(--basetext));
    margin-bottom: calc(2*var(--baseline));
    margin-top: calc(13*var(--baseline));
    line-height: calc(1.5* var(--baseline));
}

h2{
    margin-bottom: var(--baseline);
    margin-top: calc(2*var(--baseline));
    font-weight: 800;
    font-size: calc(1.5*var(--basetext));
    line-height: calc(1* var(--baseline));
}

h3{
    /* margin-bottom: var(--baseline); */
    margin-top: calc(1.5*var(--baseline));
    font-weight: 800;
    font-size: calc(1.5*var(--basetext));
    line-height: calc(1* var(--baseline));
}

em {
    font-style: italic;
}

b {
    font-weight: 600;
}

ul, ol {
    margin-bottom: var(--baseline);
}

li {
    max-width: var(--max-width);
    /*list-style-type: disc;*/

    margin-left: calc(1.5 * var(--spacing));
    margin-bottom: calc( 0.3 * var(--baseline));
}

 ol li::before{
    content:"•"; 
    color: #0082BD;
    margin-left: -35px;
    margin-right: 15px;
}

ul li::before{
    content:"•"; 
    color: #0082BD;
    margin-left: -35px;
    margin-right: 15px;
}

blockquote{
    margin-bottom: var(--baseline);
    margin-left: var(--spacing);
    max-width: var(--max-width);
    font-style: italic;
    color: #0082BD;
}

footer{
    display: flex;
    flex-direction: column;
    column-gap: 80px;
    background-color: #D4F2FF;
    justify-content: space-between;
    font-size: calc(0.75*var(--basetext));
    line-height: calc(0.7* var(--baseline));
    padding-top: var(--baseline);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    padding-bottom: var(--spacing); 
} 

a {
    text-decoration: underline;
    text-decoration-color: #0082BD;
    text-underline-offset: 5px;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: lightgray;
    text-underline-offset: 2px;
  }

/*===================== Background versions of the headings =====================*/

h1:nth-of-type(2) {
    color: #5FC1EE;
    position: absolute;
    top: 30px;
    opacity: 0.5;
    z-index: -1;
}

.h3-collapse {
    color: #0175AA;
    mix-blend-mode: color-burn;
}

.h3-collapse-back {
    position: absolute;
    top: 0px;
    margin-top: calc(-1.5*var(--baseline));
    color: #55A6CB;
    opacity: 0.3;
    z-index: -1;
}

.h3-container {
    position: relative;
    height: calc(3* var(--baseline));
    margin-bottom: var(--baseline);
    top: var(--baseline);
}

/*===================== Setting up Mosaiacs =====================*/

.mosaic-container {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: calc(-1* var(--spacing));
    margin-top: calc(-1* var(--spacing));

}

.mosaic {
    font-size: calc(3.5* var(--basetext));
    /*line-height: calc(1.5* var(--baseline));*/
    opacity: 15%;
    color: #5FC1EE;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    /*grid-template-rows: repeat(2, 8vw);*/
    grid-row-gap: 10px;
}

.mosaic-2 {
    font-size: calc(3* var(--basetext));
    position: absolute;
    top: 0;
    /*line-height: calc(1.6* var(--baseline));*/
    opacity: 25%;
    text-align: right;
    color: #55A6CB;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    /*grid-template-rows: repeat(2, 8vw);*/
    grid-row-gap: 10px;
}

.mosaic-container-mid {
    height: 165px;
    overflow: hidden;
    position: relative;
    margin-left: calc(-1* var(--spacing));
    margin-right: calc(-1* var(--spacing));
    margin-top: calc(2* var(--spacing));
}

.mosaic-container-end {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #D4F2FF;
    /* margin-left: calc(-1* var(--spacing));
    margin-right: calc(-1* var(--spacing)); */
}

/*===================== Breakpoint 380px =====================*/

@media (min-width: 380px){

    h1{
        font-family: 'Lora', serif;
        font-size: calc(3* var(--basetext));
        margin-bottom: calc(2*var(--baseline));
        margin-top: calc(13*var(--baseline));
        line-height: calc(1.75* var(--baseline));
    }

    .mosaic, .mosaic-2 {
        grid-row-gap: 10px;
    }

}

/*===================== Breakpoint 450px =====================*/

@media (min-width: 450px){

    h1{
        font-family: 'Lora', serif;
        font-size: calc(3.5* var(--basetext));
        margin-bottom: calc(2*var(--baseline));
        margin-top: calc(13*var(--baseline));
        line-height: calc(2.5* var(--baseline));
    }

}

/*===================== Breakpoint 595px =====================*/

@media (min-width: 595px){

    h1{
        font-family: 'Lora', serif;
        font-size: calc(5* var(--basetext));
        margin-bottom: calc(2*var(--baseline));
        margin-top: calc(15*var(--baseline));
        line-height: calc(3.25* var(--baseline));
    }

}

/*===================== Desktop Breakpoint 768px =====================*/

@media (min-width: 768px) {
    :root {
        --spacing: 80px;
        --color: #262626;
        --basetext: 17pt;
        --baseline: 32pt;
        --max-width: 50ch;
    }

    footer{
        flex-direction: row;
    }

    h1:nth-of-type(2) {
        top: 80px;
    }

    h1{
        font-family: 'Lora', serif;
        font-size: calc(5* var(--basetext));
        margin-bottom: calc(2*var(--baseline));
        margin-top: calc(10*var(--baseline));
        line-height: calc(3.25* var(--baseline));
    }

    .mosaic, .mosaic-2 {
        grid-row-gap: 40px;
    }

    .mosaic {
        font-size: calc(5* var(--basetext));
    }

    .mosaic-2 {
        font-size: calc(4* var(--basetext));
    }
  
    blockquote{
        max-width: calc(var(--max-width) - 10ch);
    }

    li {
        max-width: calc(var(--max-width) - 10ch);
    }

    section{
        margin: auto;
        max-width: 900px;
    }
}


/*===================== Breakpoint 875px =====================*/

@media (min-width: 875px){

    h1{
        font-family: 'Lora', serif;
        font-size: calc(6* var(--basetext));
        margin-bottom: calc(2*var(--baseline));
        margin-top: calc(10*var(--baseline));
        line-height: calc(3.5* var(--baseline));
    }

    .mosaic, .mosaic-2 {
        grid-row-gap: 60px;
    }

}

/*===================== Print settings =====================*/

@media print {
    :root {
        --spacing: 60px;
        --color: #262626;
        --basetext: 10pt;
        --baseline: 14pt;
        --max-width: 50ch;
    }

    @page {
        margin-bottom: 0.5in;
        margin-top: 0.5in;
    }

    .break-here { 
        break-before: page;
    }

    .mosaic-container {
        height: 125px;
    }

    .mosaic-container-mid, .mosaic-container-end {
        display: none;
    }

    ol, ul {
        break-inside: avoid;
    }

    li {
        margin-left: var(--spacing);
    }

    blockquote{
        margin-left: calc(0.25* var(--spacing));
    }

    .mosaic, .mosaic-2{
        grid-row-gap: 10px;
    }

    .mosaic-2, .h3-collapse-back, h1:nth-of-type(2) {
        text-align: right;
        right: 0px;
    }

    h1:nth-of-type(2){
        top: 40px;
    }

    .h3-collapse {
        mix-blend-mode: normal;
    }

    ol li::before{
        margin-right: 25px;
    }

    a {
        text-decoration: none;
    }

    footer {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #ffffff;
    }

}








